<div class="col-md-4">
    <h4 class="text-color"> Entries </h4>
    <br>
    <br>
    <ul ng-repeat="entry in model.entries">
        <div>
            <div class="panel panel-default">
                <div class="panel-body" >
                    <Label> Title: {{entry.title}} </Label>
                </div>
                <div class="panel-body" >
                    <Label>Summary: </Label>
                    {{entry.story}}
                    <a ng-if="model.username == null"
                       href="#/user/attraction/{{entry.attractionId}}/entry/{{entry._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"> </span></a>
                </div>
            </div>
        </div>
    </ul>
</div>