
    <div class="container-fluid">
        <h1>Register</h1>

        <div class="alert alert-success" ng-show="model.message">
            {{model.message}}
        </div>
        <form><input type="text"
               ng-model="user.username"
               class="form-control"
               placeholder="username"/>
        <input type="password"
               ng-model="user.password"
               class="form-control"
               placeholder="password"/>
        <input type="password"
               ng-model="user.verifypassword"
               class="form-control"
               placeholder="verify password"/>
        <input type="text"
               ng-model="user.firstname"
               class="form-control"
               placeholder="FirstName"/>
        <input type="text"
               ng-model="user.lastname"
               class="form-control"
               placeholder="LastName"/>
        <input type="email"
               ng-model="user.email"
               class="form-control"
               placeholder="email"/>
        </form>

        <a class="btn btn-primary btn-block"
           ng-click="model.create(user)">Register</a>

        <a class="btn btn-danger  btn-block"
           href="#/login">Cancel</a>
    </div>
