
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a  href="#/home"> <span class="navbar-brand glyphicon glyphicon-chevron-left left">

                </span></a>
            <a class="navbar-brand" href="">Travelogue</a>
        </div>
        <div id="navbar"   class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" ng-if="model.userId==null" >
                <a href="#/login">  <button  class="btn btn-success">Login</button> </a>
                <a href="#/register"> <button  class="btn btn-success">Register</button> </a>
            </form>
            <form class="navbar-form navbar-right" ng-if="model.userId != undefined" >
                <a href="#/login">
                    <button class="btn btn-danger" ng-click="model.logout()" >Logout</button>
                </a>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<div class="no-background container">
    <br/>

    <div class="panel panel-default smoke" >
        <div class="col-xs-10 col-md-11 container-fluid smoke" >
            <div class="col-xs-0 col-md-5">
                <img class="attractionImg Img2"
                     src="https://static.tripexpert.com/images/venues/index_photos/index_retina/{{model.attractionId}}.jpg?1402340533"/>
            </div>

            <div class="col-xs-0 col-md-3">
                <h3>{{model.name}}</h3>
                <div>
                    <div class="col-xs-1">
                        <a href="#/user/{{model.userId}}/attraction/{{model.attractionId}}" ng-click="model.favorite('change')" >
                            <div ng-switch="model.favorited">
                        <span>
                            <div ng-switch-when="true">
                                <span class="glyphicon glyphicon-star"></span>

                            </div>
                        </span>
                                <span>
                            <div ng-switch-when="false">
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>
                        </span>
                            </div>
                        </a>
                    </div>

                    <br/>
                    <div>
                        <h5> Trip Expert Score:
                            {{model.tripexpert_score}}
                        </h5>
                        <h5>Opening Hours: {{model.opening_hours}}
                        </h5>



                        <h5> Official Website:
                            {{model.website}}
                        </h5>
                    </div>


                    <h5>Address:
                        {{model.address}}
                    </h5>


                </div>

            </div>
            <div>
            </div>
        </div>
        <div class="panel col-xs-10 col-md-11">
            <br/>
            <div class="panel panel-info">
                <div class="panel-heading">
                    Reviews
                </div>

                <div class="panel panel-info"
                     ng-repeat="review in model.reviews">
                    <div class="panel-body" >
                        {{review.extract}}

                    </div>
                </div>
            </div>
        </div>

        <div ng-if="model.userId" class="panel col-xs-10 col-md-11">
            <br/>
            <div class="panel-info">
                <div class="panel-heading">Dairy entries
                </div>
            </div>

            <div class="panel panel-default" ng-repeat="entry in model.entries">
                <div class="panel-body" >
                    <Label> Title: {{entry.title}} </Label>

                </div>
                <div class="panel-body" >
                    <Label>Summary: </Label>
                    {{entry.story}}

                </div>

                <div class="panel-body" >

                    <Label> Author: </Label>
                    <a href="#/user/view/{{entry.username}}"> {{entry.username}} </a>

                    <div ng-if="entry.userId == model.userId" class="col-md-12">
                                 <span>
                                <div>
                                    <a href="#/user/attraction/{{model.attractionId}}/entry/{{entry._id}}">
                                    <span class="glyphicon glyphicon-cog pull-right"> </span></a>
                                </div>

                                </span>
                    </div>

                </div>

            </div>
            <a class="btn btn-info btn-block col-md-4"
               href="#/user/attraction/{{model.attractionId}}/entry">New Entry</a>
            <br/><br/><br/><br/>
        </div>
    </div>
    <div>

    </div>
    <nav class="navbar navbar-dark navbar-fixed-bottom nav-color">
        <div class="container-fluid" ng-if="model.userId!=null">
            <div class="tripdiv">
                <img class="tripimg" src="../../../../img/powered-by.png" >
            </div>
            <div class="col-xd-2" >
                <a href="#/user" class="navbar-link navbar-text pull-right">
                    <span class="glyphicon glyphicon-user user-color profile-icon"></span>
                </a>
            </div>
        </div>
    </nav>

</div>