<nav class="navbar navbar-light navbar-fixed-top">
    <div class="container-fluid bg-info ">
        <div ng-if="model.suggestionId" class="navbar-text pull-right ">
            <a   ng-click="model.updateSuggestion(model.suggestion)" class="navbar-link ">
                <span class="glyphicon glyphicon-ok "></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand no-left-margin">
                Sherpa Suggests
            </a>
        </div>
    </div>
</nav>

<h1>A day in the city</h1>

<div class="col-md-8">
    <form>
        <div class="title" >
            <h3><lablel>Title</lablel>
                <input type="String" ng-model="model.suggestion.title"/>
            </h3>
        </div>
        <div>
            <div class="col-md-12" >
                <h5> Things to do: </h5>
                <textarea rows="6" style="width: 80%"
                          type="String"
                          ng-model="model.suggestion.suggestion"></textarea>
            </div>
        </div>

        <div>
            <div col="col-md-12">
                <input type="String"
                       placeholder="city"
                       ng-model="model.suggestion.city"/>
            </div>
        </div>
    </form>
    <div class="col-sm-12">

        <div ng-if="model.suggestionId==undefined">
        <a class="btn btn-primary" ng-click="model.createSuggestion(model.suggestion)">
            Create Iternary</a>
        </div>

        <div ng-if="model.suggestionId">
            <a class="btn btn-primary" ng-click="model.updateSuggestion(model.suggestion)">
                Update Iternary</a>

            <a class="btn btn-danger" ng-click="model.deleteSuggestion(model.suggestion)">
                Delete Iternary</a>
        </div>



    </div>

</div>

<nav class="navbar navbar-light navbar-fixed-bottom">
    <div class="container-fluid bg-info">
        <a href="#/user/{{model.userId}}" class=" navbar-link navbar-text pull-right ">
            <span class="glyphicon glyphicon-user  "></span>
        </a>

    </div>
</nav>