<nav class="navbar navbar-light navbar-fixed-top ">
    <div class="container-fluid bg-info">
        <div class="navbar-text pull-right ">
            <a ng-click="model.updateExpert(model.user)" class="navbar-link ">
                <span class="glyphicon glyphicon-ok "></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand no-left-margin">
                Travelogue
            </a>
        </div>
    </div>
</nav>

<h1> Expert Home with feed</h1>

<a class="btn btn-primary btn-block"
   href="#/attraction">Search For Places</a>

<a class="btn btn-primary btn-block"
   href="#/suggestion">Add Suggestion</a>

<a class="btn btn-block btn-danger"
   ng-click="model.deleteSuggestion(model.userId)">Unregister</a>

<
<nav class="navbar navbar-dark navbar-fixed-bottom nav-color">
    <div class="container-fluid" ng-if="model.userId!=null">
        <a href="#/user" class="navbar-link navbar-text pull-right">
            <span class="glyphicon glyphicon-user user-color"></span>
        </a>

    </div>
</nav>