<nav class="navbar navbar-light navbar-fixed-top ">
    <div class="container-fluid bg-info">
        <div class="navbar-text pull-right ">
            <a ng-click="model.updateExpert(model.user)" class="navbar-link ">
                <span class="glyphicon glyphicon-ok "></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand no-left-margin">
                Travelogue
            </a>
        </div>
    </div>
</nav>

<h1> Expert Home with feed</h1>

<a class="btn btn-primary btn-block"
   href="#/suggestion/{{model.userId}}/attraction">Search For Places</a>

<a class="btn btn-primary btn-block"
   href="#/suggestion/{{model.userId}}/suggestion">Add Suggestion</a>

<a class="btn btn-block btn-danger"
   ng-click="model.deleteSuggestion(model.userId)">Unregister</a>

<nav class="navbar navbar-light navbar-fixed-bottom">
    <div class="container-fluid bg-info">
        <a href="#/expert/{{model.userId}}/settings" class=" navbar-link navbar-text pull-right ">
            <span class="glyphicon glyphicon-user "></span>
        </a>
    </div>
</nav>