<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">
                Travelogue
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" ng-if="model.userId != undefined" >
                <a href="#/login">
                    <button class="btn btn-danger" ng-click="model.logout()" >Logout</button> </a>
            </form>
        </div>
    </div>
</nav>


<div class="col-xs-0 col-md-12 smoke">
    <h3>A day in the city</h3>

    <br>
    <div class="col-md-6">
        <form name="entry">
            <div class="title" >
                <h5><lablel>Title</lablel>
                    <input required name="title" type="String" ng-model="model.suggestion.title"
                     placeholder="Title"/>
                    <span class="red" ng-show="entry.title.$dirty">
                        <span ng-show="entry.title.$error.required">
                            Please choose a Title
                        </span>
                </span>
                </h5>
            </div>

            <div>
                <div>
                    <h5> Top Local Attractions </h5>
                    <textarea rows="6" style="width: 50%" required
                              type="String" name="suggestion"
                              ng-model="model.suggestion.suggestion"
                    placeholder="Describe your adventure in the city"></textarea>
                    <span class="red"  ng-show="entry.suggestion.$dirty">
                        <span ng-show="entry.suggestion.$error.required">
                            Enter your top suggestions
                        </span>
                </span>

                </div>
                <div>
                    <input type="String"
                           placeholder="city" required name="city"
                           ng-model="model.suggestion.city"/>
                    <span class="red" ng-show="entry.city.$dirty">
                        <span ng-show="entry.city.$error.required">
                            Select a city
                        </span>
                </span>
                </div>
            </div>
            <div ng-if="model.suggestionId==undefined">
            <a href="#/user">
                <input type="submit" value="Create Itinerary"
                     class="btn btn-primary" ng-if="model.entryId==null" href="#/user"
                       ng-disabled="entry.city.$error.required ||
                                    entry.title.$error.required||
                                    entry.suggestion.$error.required"
                     ng-click="model.createSuggestion(model.suggestion)">
            </a>
                <div class="red" ng-show="entry.city.$error.required==true
                    || entry.suggestion.$error.required==true ||
                    entry.title.$error.required==true ">Enter details
                </div>
            </div>

            <div ng-if="model.suggestionId">
                <a href="#/attraction">
                    <input type="submit" value="Update Itinerary" class="btn btn-primary"
                       ng-click="model.updateSuggestion(model.suggestion)">
                </a>
                <a class="btn btn-danger" href="#/attraction"
                   ng-click="model.deleteSuggestion(model.suggestion)">
                    Delete Itinerary</a>
            </div>
        </form>
        <br/>
    </div>
        <br/>
    </div>
</div>
<div>

<nav class="navbar navbar-dark navbar-fixed-bottom nav-color">
    <div class="container-fluid" ng-if="model.userId!=null">
        <div class=" tripdiv">
            <img class="tripimg" src="../../../../img/powered-by.png" >
        </div>
        <div class="col-xd-2 " >
            <a href="#/user" class="navbar-link navbar-text pull-right">
                <span class="glyphicon glyphicon-user user-color profile-icon"></span>
            </a>
        </div>
    </div>
</nav>