<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a  href="#/attraction/{{model.attractionId}}">
                <span class="navbar-brand glyphicon glyphicon-chevron-left left">
                </span>
            </a>

            <a class="navbar-brand" href="">Travelogue</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" ng-if="model.userId==null" >
                <a href="#/login">  <button  class="btn btn-success">Login</button> </a>
                <a href="#/register"> <button  class="btn btn-success">Register</button> </a>
            </form>
            <form class="navbar-form navbar-right" ng-if="model.userId != undefined" >
                <a href="#/login">  <button class="btn btn-danger" ng-click="model.logout()" >Logout</button> </a>
            </form>
        </div>
    </div>
</nav>

<div class="col-xs-0 col-md-12 smoke">
    <br>
    <div class="col-md-6">
        <form class="container" name="form">
            <div class="title" >
                <h5><lablel>Title</lablel>
                    <input type="String" name="title" ng-model="model.entry.title"
                    placeholder="Title" required/>
                    <span class="red" ng-show="form.title.$dirty">
                        <span ng-show="form.title.$error.required">
                            Please choose a Title
                        </span>
                    </span>
                </h5>
            </div>
            <div>
                <div>
                    <h5> Desribe your experience: </h5>
                    <textarea rows="9" cols="100"
                              type="String"
                              ng-model="model.entry.story"
                    placeholder="Your experience" required
                              name="story"
                              ng-required="true"></textarea>
                    <span class="red" ng-show="form.story.$dirty">
                        <span ng-show="form.story.$error.required">
                            Please choose a Title
                        </span>
                    </span>
                </div>
                <div>
                    <h6> Date: <input type="date" required
                                      value="{{model.entry.date}}"
                                      ng-model="model.entry.date"/></h6>
                </div>
            </div>
            <div>

                <input type="submit" value="Create Entry" class="btn btn-primary"
                       ng-if="model.entryId==null"
                       ng-disabled="form.story.$error.required ||
                                    form.title.$error.required"
                       ng-click="model.createEntry(model.entry)">

                <input value="Update Entry" type="submit" class="btn btn-primary"
                   ng-if="model.entryId!=null"
                       ng-disabled="form.story.$error.required ||
                                    form.title.$error.required"
                       ng-click="model.updateEntry(model.entry)">

                <input type="submit" value="Delete Entry"
                       class="btn btn-danger" ng-click="model.deleteEntry(model.entry)">

                <div class="red" ng-show="form.story.$error.required==true
                    || form.title.$error.required==true">Enter details
                </div>
            </div>
        </form>


        <br>
    </div>
</div>
<div>

    <nav class="navbar navbar-dark navbar-fixed-bottom nav-color">
        <div class="container-fluid" ng-if="model.userId!=null">
            <div class="col-xd-1" >
            <a href="#/user" class="navbar-link navbar-text pull-right">
                <span class="glyphicon glyphicon-user user-color"></span>
            </a>
            </div>
            <div class="col-md-8 tripdiv">
                <img class="tripimg" src="../../../../img/powered-by.png" >
            </div>
        </div>
    </nav>

</div>