<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="">Travelogue</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" ng-if="model.userId==null" >
                <a href="#/login">  <button  class="btn btn-success">Login</button> </a>
                <a href="#/register"> <button  class="btn btn-success">Register</button> </a>
            </form>
            <form class="navbar-form navbar-right" ng-if="model.userId != undefined" >
                <a href="#/login">  <button class="btn btn-danger" ng-click="model.logout()" >Logout</button> </a>
            </form>
        </div>
    </div>
</nav>

<div class="col-xs-0 col-md-12 smoke">
    <br>
    <div class="col-md-6">
        <form>
            <div class="title" >
                <h5><lablel>Title</lablel>
                    <input type="String" ng-model="model.entry.title"/>
                </h5>
            </div>

            <div>
                <div>
                    <h5> Desribe your experience: </h5>
                    <textarea rows="6" style="width: 80%"
                              type="String"
                              ng-model="model.entry.story"></textarea>
                </div>
                <div>
                    <h6> Date: <input type="date"
                                      ng-model="model.entry.date"/></h6>
                </div>
            </div>
        </form>
        <div>

            <a class="btn btn-primary" ng-if="model.entryId==null"
               ng-click="model.createEntry(model.entry)">Create Entry</a>

            <a class="btn btn-primary" ng-if="model.entryId!=null"
               ng-click="model.updateEntry(model.entry)">Update Entry</a>

            <a button class="btn btn-danger" ng-click="model.deleteEntry(model.entry)" >Delete Entry
                </a>
            </button>
        </div>

        <br>
    </div>
</div>
<div>

    <nav class="navbar navbar-dark navbar-fixed-bottom nav-color">
        <div class="container-fluid" ng-if="model.userId!=null">
            <a href="#/user" class="navbar-link navbar-text pull-right">
                <span class="glyphicon glyphicon-user user-color"></span>
            </a>

        </div>
    </nav>

</div>