<nav class="navbar navbar-light navbar-fixed-top">
    <div class="container-fluid bg-info ">
        <div class="navbar-text pull-right ">
            <a ng-click="model.updateEntry(model.entry)" class="navbar-link ">
                <span class="glyphicon glyphicon-ok make-white"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand no-left-margin">
                Diary Entry
            </a>
        </div>
    </div>
</nav>
<div class="col-md-8">
    <form>
        <div class="title" >
            <h3><lablel>Title</lablel>
                <input type="String" ng-model="model.entry.title"/>
            </h3>
        </div>


        <div>
            <div class="col-md-6" >
                <h5> Desribe your experience: </h5>
                <textarea rows="6" style="width: 80%"
                          type="String"
                          ng-model="model.entry.story"></textarea>
            </div>
            <div col="col-md-6">
                <h6> Date: <input type="date"
                                  ng-model="model.entry.date"/></h6>
            </div>
        </div>
    </form>
</div>

<div class="col-sm-8">
    <a class="btn btn-primary"
       ng-click="model.createEntry(model.entry)">Create Entry</a>
    <button class="btn btn-danger">Delete Entry <a ng-click="model.deleteEntry(model.entry)" >
        <span class="glyphicon glyphicon-remove"></span></a>
    </button>
</div>

<div>
    <nav class="navbar navbar-light navbar-fixed-bottom">
        <div class="container-fluid bg-info">
            <a href="#/user/{{model.userId}}" class="navbar-link navbar-text pull-right ">
                <span class="glyphicon glyphicon-user make-white "></span>
            </a>
        </div>
    </nav>
</div>