<form action="/api/upload"   method="post" enctype="multipart/form-data">
        <label >Name</label>
        <input placeholder="Name"
               class="form-control"
               ng-model="model.widget.name"
               type="text"
               id="name"/>
        <label >Text</label>
        <input placeholder="Blog Post"
               class="form-control"
               ng-model="model.widget.text"
               type="text"
               id="text"/>

        <label for="website-description">URL</label>
        <input placeholder="URL"
               class="form-control"
               ng-model="model.widget.url"
               id="website-description"></input>
        <label >Width</label>
        <input placeholder="Width"
               class="form-control"
               ng-model="model.widget.width"
               type="number"
               id="width"/>
        <label >Upload</label>


        <input  name="myFile"    type="file" class="form-control"/>
        <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
        <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
        <input  name="pageId"    value="{{model.pageId}}"   style="display: none"/>
        <input  name="widgetId"  value="{{model.widget._id}}"   style="display: none"/>
        <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>

        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/search"   class="btn btn-block btn-info">Search Image</a>
        <!--#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/search
        views/widget/templates/widget-flickr-search.view.client.html
        -->
</form>



