<form>
    <label for="ame">Name</label>
        <input placeholder="Name"
               ng-model="model.widget.name"
               class="form-control"
               type="text"
               id="ame"/>
        <label for="ame2">Text</label>
        <input placeholder="Heading"
               ng-model="model.widget.text"
               class="form-control"
               type="text"
               id="ame2"/>

        <label for="website-description">Size</label>
        <input placeholder="Size"
               ng-model="model.widget.size"
               type="number"
               class="form-control"
               id="website-description"></input>

</form>

