
<div class="container-fluid">
    <div class="form-group">
        <div ng-model="model.widget.text"
             text-angular
             ta-toolbar="[['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'quote'],
            ['bold','italics','underline','strikeThrough', 'ul', 'ol', 'redo', 'undo', 'clear'],
            ['justifyLeft','justifyCenter','justifyRight','justifyFull'],
            ['indent','outdent'],['html', 'insertImage','insertLink', 'wordcount', 'charcount']]">
        </div>
    </div>
    <a class="btn btn-danger btn-block" ng-click="model.deleteWidget()">Delete</a>
</div>

<!--<form>-->
    <!--<label for="ame">Name</label>-->
        <!--<input placeholder="Name"-->
               <!--class="form-control"-->
               <!--type="text"-->
               <!--ng-model="model.widgets.name"-->
               <!--id="ame"/>-->
        <!--<label for="ame2">Text</label>-->
        <!--<textarea-->
                <!--row="3"-->
                <!--placeholder="Heading"-->
               <!--class="form-control"-->
               <!--ng-model="model.widgets.text"-->
               <!--type="text"-->
               <!--id="ame2"/>-->

        <!--<label for="website-description">Size</label>-->
        <!--<input placeholder="Size"-->
               <!--type="String"-->
               <!--ng-model="model.widgets.size"-->
               <!--class="form-control"-->
               <!--id="website-description"></input>-->
        <!--&lt;!&ndash;<a href="widget-list.view.client.html" type="button" class="btn btn-danger btn-block">&ndash;&gt;-->
            <!--&lt;!&ndash;Delete&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
<!--</form>-->


