    <form>
        <label for="website-name">Name</label>
        <input placeholder="Name"
               type="text"
               ng-model="model.widget.name"
               class="form-control"
               id="website-name2"/>
        <label for="website-name">Text</label>
        <input placeholder="Text/Description"
               class="form-control"
               ng-model="model.widget.text"
               type="text"
               id="website-text"/>

        <label for="website-name">URL</label>
        <input placeholder="URL"
               type="url"
               ng-model="model.widget.url"
               class="form-control"
               id="website-url"></input>
        <label for="website-name">Width</label>
        <input placeholder="Width"
               type="number"
               ng-model="model.widget.width"
               class="form-control"
               id="website-name"/>
        <!--<a href="widget-list.view.client.html" type="button" class="btn btn-danger btn-block">-->
            <!--Delete-->
        <!--</a>-->
    </form>

