

<nav class="navbar navbar-light navbar-fixed-top">
    <div class="container-fluid bg-info ">
        <div class="navbar-text pull-right ">
            <a ng-click="model.updateItinerary(model.entry)" class="navbar-link ">
                <span class="glyphicon glyphicon-ok "></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand no-left-margin">
                Sherpa Suggests
            </a>
        </div>
    </div>
</nav>

<h1>A day in the city</h1>

<div>
    <form>
        <lablel>Title</lablel>

        <input type="String"
               ng-model="model.entry.title"/>
        <label> Itinerary</label>
        <textarea rows="5"
                  type="String"
                  ng-model="model.entry.story"></textarea>
        <input type="String"
               placeholder="city"
               ng-model="model.entry.city"/>
        <a ng-click="model.deleteEntry(model.entry)" >
            <span class="glyphicon glyphicon-remove pull-right"></span></a>
    </form>
</div>
<a class="btn btn-primary btn-block"
   ng-click="model.createEntry(model.entry)">Publish Itinerary</a>

<nav class="navbar navbar-light navbar-fixed-bottom">
    <div class="container-fluid bg-info">
        <a href="#/expert/{{model.userId}}" class=" navbar-link navbar-text pull-right ">
            <span class="glyphicon glyphicon-user  "></span>
        </a>

    </div>
</nav>
