<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">Travelogue</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

            <form class="navbar-form navbar-right" ng-if="model.userId != undefined" >
                <a href="#/login">  <button class="btn btn-danger" ng-click="model.logout()" >Logout</button> </a>
            </form>

        </div><!--/.navbar-collapse -->
    </div>
</nav>

<div class="container-fluid smoke">

        <div id="navbar2" class="navbar-collapse collapse">

            <form class="navbar-form navbar-right" ng-if="model.userId != undefined" >
                <a href="#/login">  <button class="btn btn-danger" ng-click="model.logout()" >Logout</button> </a>
            </form>

        </div><!--/.navbar-collapse -->
    </div>



<div class="container-fluid col-xs-12 smoke" ng-if="model.admin=='ADMIN'">
<h3>Admin</h3>

    <a class="btn btn-info "
   ng-click="model.getAllUsers()">Manage Users</a>

<a class="btn btn-info "
   ng-click="model.getAllAttractions()">Manage Attractions</a>

<a class="btn btn-info "
   ng-click="model.getAllEntries()">Manage Entries</a>

<a class="btn btn-info "
   ng-click="model.getAllSuggestions()">Manage Suggestions</a>

                <br><br>

</div>
<div ng-show="model.users" >
    <div class="col-xs-12 container-fluid smoke">

        <a ng-click="model.createNewUser=true;model.users=null"> <button class="btn btn-info">
            Create User
        </button> </a>
        <ul class="list-group">
            <li class="list-group-item " ng-repeat="user in model.users">
                <div class="row">

                    <div class="col-xs-9">
                        <h4>{{user.firstname}}</h4>
                    </div>
                    <div class="col-xs-1">
                        <a ng-click="model.findUserById(user._id)"><span class="glyphicon glyphicon-cog"></span></a></div>
                    <div class="col-xs-1">
                        <a ng-click="model.deleteUser(user._id)"> <span class="glyphicon glyphicon-remove"></span></a></div>
                </div>
            </li></ul>
    </div>
</div>

<div ng-show="model.attractions">
    <div class="col-xs-12 container-fluid smoke">
        <ul class="list-group">
            <li class="list-group-item " ng-repeat="attraction in model.attractions">
            <div class="row">
                <div class="col-xs-9">
                    <h4>{{attraction.name}}</h4>
                </div>
                    <div class="col-xs-1">
                        <a ng-click="model.findAttractionById(attraction._id)"><span class="glyphicon glyphicon-cog"></span></a></div>
                    <div class="col-xs-1">
                    <a ng-click="model.deleteAttraction(attraction._id)"> <span class="glyphicon glyphicon-remove"></span></a></div>
            </div>
            </li></ul>
    </div>
</div>

<div ng-show="model.entries">
    <div class="col-xs-12 container-fluid smoke">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="entry in model.entries">
                <div class="row">
                    <div class="col-xs-9">
                        <h4>{{entry.title}}</h4>
                    </div>
                    <div class="col-xs-1">
                        <a ng-click="model.findEntryById(entry._id)"><span class="glyphicon glyphicon-cog"></span></a></div>
                    <div class="col-xs-1">
                        <a ng-click="model.deleteEntry(entry._id)" > <span class="glyphicon glyphicon-remove"></span></a></div>
                </div>
            </li></ul>
    </div>
</div>

<div ng-show="model.suggestions">
    <div class="col-xs-12 container-fluid smoke">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="suggestion in model.suggestions">
                <div class="row">
                    <div class="col-xs-9">
                        <h4>{{suggestion.title}}</h4>
                    </div>
                    <div class="col-xs-1">
                        <a ng-click="model.findSuggestionById(suggestion._id)"><span class="glyphicon glyphicon-cog"></span></a></div>
                    <div class="col-xs-1">
                        <a ng-click="model.deleteSuggestion(suggestion._id)"> <span class="glyphicon glyphicon-remove"></span></a></div>
                </div>
            </li></ul>
    </div>
</div>


<div ng-show="model.suggestion">
    <div class="col-xs-12 container-fluid smoke">

        <div class="row">
            <div class="col-xs-3">
                <label> Title  </label>
            </div>
            <div class="col-xs-6 pull-left">
                <input type="String" ng-model="model.suggestion.title"/>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <label> Itinerary  </label>
            </div>
            <div class="col-xs-6 pull-left">
                <textarea type="String" ng-model="model.suggestion.suggestion"/>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <label> Author  </label>
            </div>
            <div class="col-xs-6 pull-left">
                <label >{{model.suggestion.firstname}}</label>
            </div>
        </div>
        <button ng-click="model.updateSuggestion(model.suggestion._id,model.suggestion)" class="btn btn-primary">Update</button>
    </div>
</div>

<div ng-show="model.entry">
    <div class="col-xs-12 container-fluid smoke">
        <div class="row">
            <div class="col-xs-3">
                <label> Title  </label>
            </div>
            <div class="col-xs-6 pull-left">
                <input type="String" ng-model="model.entry.title"/>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <label> Diary Entry  </label>
            </div>
            <div class="col-xs-6 pull-left">
                <input type="String" ng-model="model.entry.story"/>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <label> Author  </label>
            </div>
            <div class="col-xs-6 pull-left">
                <label >{{model.author}}</label>
            </div>
        </div>
        <button ng-click="model.updateEntry(model.entry._id,model.entry)" class="btn btn-primary">Update</button>
    </div>
</div>

<div ng-show="model.attraction">
    <div class="col-xs-12 container-fluid smoke">
        <div class="row">
            <div class="col-xs-3">
                <label> Name  </label>
            </div>
            <div class="col-xs-6 pull-left">
                <label >{{model.attraction.name}}</label>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <label> Tripexpert score  </label>
            </div>
            <div class="col-xs-6 pull-left">
                <input type="String" ng-model="model.attraction.tripexpert_score"/>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <label> Opening Hours  </label>
            </div>
            <div class="col-xs-6 pull-left">
                <input type="String" ng-model="model.attraction.opening_hours"/>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <label> Website  </label>
            </div>
            <div class="col-xs-6 pull-left">
                <input type="String" ng-model="model.attraction.website"/>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <label> Address  </label>
            </div>
            <div class="col-xs-6 pull-left">
                <label >{{model.attraction.address}}</label>
            </div>
        </div>
        <button ng-click="model.updateAttraction(model.attraction._id,model.attraction)" class="btn btn-primary">Update</button>
    </div>
</div>

<div ng-show="model.user">
    <div class="col-xs-12 container-fluid smoke">
        <div class="row">
            <div class="col-xs-3">
                <label> UserName  </label>
            </div>
            <div class="col-xs-6 pull-left">
                <label >{{model.user.username}}</label>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <label> Password  </label>
            </div>
            <div class="col-xs-6 pull-left">
                <input type="String" ng-model="model.user.password"/>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <label> Role  </label>
            </div>
            <div class="col-xs-6 pull-left">
                <select ng-model="model.user.role" ng-options="x for x in ['USER','EXPERT']">
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <label> Firstname  </label>
            </div>
            <div class="col-xs-6 pull-left">
                </label> <input type="String" ng-model="model.user.firstname"/>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <label> Lastname </label>
            </div>
            <div class="col-xs-6 pull-left">
                </label> <input type="String" ng-model="model.user.lastname"/>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <label> Email  </label>
            </div>
            <div class="col-xs-6 pull-left">
                <input type="String" ng-model="model.user.email"/>
            </div>
        </div>

        <button ng-click="model.updateUser(model.user._id,model.user)" class="btn btn-primary">Update</button>
    </div>
</div>


<div ng-show="model.createNewUser ">
    <div class="col-xs-12 container-fluid smoke">
        <div class="row">
            <div class="col-xs-3">
            <label> UserName </label>
            </div>
            <div class="col-xs-6">
                <input type="String" ng-model="model.Cuser.username"/>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <label> Password </label>
            </div>
            <div class="col-xs-6">
                <input type="String" ng-model="model.Cuser.password"/>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <label> Role </label>
            </div>
            <div class="col-xs-6">
                <select ng-model="Cuser.role" ng-options="x for x in ['USER','EXPERT']">
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <label> Firstname </label>
            </div>
            <div class="col-xs-6">
                <input type="String" ng-model="model.Cuser.firstname"/>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <label> Lastname </label>
            </div>
            <div class="col-xs-6">
                <input type="String" ng-model="model.Cuser.lastname"/>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <label> Email </label>
            </div>
            <div class="col-xs-6">
                <input type="String" ng-model="model.Cuser.email"/>
            </div>
        </div>

        <button ng-click="model.createUser(model.Cuser)" class="btn btn-primary">Update</button>
    </div>
    </nav>
</div>