<h1>admin home page</h1>

<a class="btn btn-success "
   ng-click="model.getAllUsers()">get all users</a>

<a class="btn btn-info "
   ng-click="model.getAllAttractions()">get all attractions</a>

<a class="btn btn-danger "
   ng-click="model.getAllEntries()">get all entries</a>

<a class="btn btn-warning "
   ng-click="model.getAllSuggestions()">get all suggestions</a>

<div ng-show="model.users">
    <div class="container-fluid">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="user in model.users">
                <div class="row">
                    <div class="col-xs-9">
                        <h4>{{user.firstname}}</h4>
                    </div>
                    <div class="col-xs-1">
                        <a ><span class="glyphicon glyphicon-cog"></span></a></div>
                    <div class="col-xs-1">
                        <a > <span class="glyphicon glyphicon-remove"></span></a></div>
                </div>
            </li></ul>
    </div>
</div>

<div ng-show="model.attractions">
    <div class="container-fluid ">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="attraction in model.attractions">
            <div class="row">
                <div class="col-xs-9">
                    <h4>{{attraction.name}}</h4>
                </div>
                    <div class="col-xs-1">
                        <a ><span class="glyphicon glyphicon-cog"></span></a></div>
                    <div class="col-xs-1">
                    <a > <span class="glyphicon glyphicon-remove"></span></a></div>
            </div>
            </li></ul>
    </div>
</div>

<div ng-show="model.entries">
    <div class="container-fluid">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="entry in model.entries">
                <div class="row">
                    <div class="col-xs-9">
                        <h4>{{entry.title}}</h4>
                    </div>
                    <div class="col-xs-1">
                        <a ng-click="model.findEntryById(entry._id)"><span class="glyphicon glyphicon-cog"></span></a></div>
                    <div class="col-xs-1">
                        <a ng-click="model.deleteEntry(entry._id)" > <span class="glyphicon glyphicon-remove"></span></a></div>
                </div>
            </li></ul>
    </div>
</div>

<div ng-show="model.suggestions">
    <div class="container-fluid">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="suggestion in model.suggestions">
                <div class="row">
                    <div class="col-xs-9">
                        <h4>{{suggestion.title}}</h4>
                    </div>
                    <div class="col-xs-1">
                        <a ng-click="model.findSuggestionById(suggestion._id)"><span class="glyphicon glyphicon-cog"></span></a></div>
                    <div class="col-xs-1">
                        <a ng-click="model.deleteSuggestion(suggestion._id)"> <span class="glyphicon glyphicon-remove"></span></a></div>
                </div>
            </li></ul>
    </div>
</div>


<div ng-show="model.suggestion">
    <div class="container-fluid">
        <label> Title : </label> <input type="String" ng-model="model.suggestion.title"/>
        <label> Itinerary : </label> <input type="String" ng-model="model.suggestion.suggestion"/>
        <label> Author : </label> <label >{{model.suggestion.firstname}}</label>
        <button ng-click="model.updateSuggestion(model.suggestion._id,model.suggestion)" class="btn btn-primary">Update</button>
    </div>
</div>

<div ng-show="model.entry">
    <div class="container-fluid">
        <label> Title : </label> <input type="String" ng-model="model.entry.title"/>
        <label> Diary Entry : </label> <input type="String" ng-model="model.entry.story"/>
        <label> Author : </label> <label >{{vm.author}}</label>
        <button ng-click="model.updateEntry(model.entry._id,model.entry)" class="btn btn-primary">Update</button>
    </div>
</div>


