<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand glyphicon glyphicon-option-vertical left"
                  ng-click="model.openNav()">

                </span>
            <a class="navbar-brand" href="">
                Travelogue
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

            <form class="navbar-form navbar-right" ng-if="model.userId == undefined" >
                <a href="#/login">  <button class="btn btn-danger" ng-click="model.logout()" >Logout</button> </a>
            </form>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div id="mySidenav" class="sidenav" ng-click="model.openNav()">

        <a class="btn" ng-click="model.loadMain('FOLLOWING')">Following</a>
        <a class="btn" ng-click="model.loadMain('FOLLOWERS')">Followers</a>
        <a class="btn" ng-click="model.loadMain('ENTRIES')">Entries</a>

        <a ng-if="model.follow == true" ng-click="model.followFun()" href="">
        <button class="btn btn-success"> Follow</button></a>
        <a ng-if="model.follow == false" ng-click="model.followFun()">
        <button class="btn btn-danger"> Unfollow</button></a>

    </div>

    <div class="main" id="main" >
        <div ng-include="model.includMain" >

        </div>
    </div>

</div>

