<nav class="navbar navbar-light navbar-fixed-top bg-faded">
    <div class="container-fluid ">

        <div class="navbar-header  center">
            <a class="navbar-brand no-left-margin text-center">
                Travelogue
            </a>
        </div>
    </div>
</nav>
<div>

<img class ="an-background-image" src="./views/user/img/01.png">

    <a href="#/login">
        <button class="btn"> Login </button></a>
    <input ng-model="model.search" type="text" placeholder="Search">
    <button ng-click="model.searchPlace(model.search)" class="btn btn-default"> <span class="glyphicon glyphicon-search"> </span></button></input>
</div>

<div class="container-fluid">
    <ul class="list-group"  >
        <li  class="list-group-item" ng-repeat="attraction in model.attractions">
               <span class="glyphicon glyphicon-cog"></span>
            <textarea ng-model="attraction.name"></textarea>
            <textarea ng-model="attraction.tripexpert_score"></textarea>
           <a ng-click="model.detailsPage(attraction.id)"> <img  src="https://static.tripexpert.com/images/venues/index_photos/index_retina/{{attraction.id}}.jpg?1402340533">
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-light navbar-fixed-bottom">
    <div class="container-fluid bg-info">
        <a href="#/user/{{model.userId}}" class=" navbar-link navbar-text pull-right ">
            <span class="glyphicon glyphicon-user  "></span>
        </a>

    </div>
</nav>