<nav class="navbar navbar-light navbar-relative-top bg-faded">
    <div class="container-fluid ">

        <div class="navbar-header  center">
            <a class="navbar-brand no-left-margin text-center">
                Travelogue
            </a>
        </div>
    </div>
</nav>
<div>

    <div class="container-fluid" >
        <div>
            <img class="an-background-image" src="./views/user/img/01.png">
        </div>
        <form >
            <div class="form-group" >
                <div class="row">
                    <div class="col-xs-4 col-sm-3" ng-if="model.userId == undefined">
                        <div>
                            <a href="#/login">
                                <button class="btn btn-default btn-block  loginText"> Login </button></a>
                        </div>
                        <div >
                            <a href="#/register">
                                <button class="btn btn-default btn-block loginText"> Sign Up </button></a>
                        </div>
                        <div>
                        </div>
                    </div>


                    <div class="col-sm-4">

                        <input id="searchLocation" ng-model="model.search" type="text" placeholder="Location Search">
                        </input>
                        <button ng-click="model.searchPlace(model.search)" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"> </span>
                        </button>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <div ng-show="model.suggestions" ng-if="model.userId != undefined">

        <div class="intro-header">
            <h4 id="label-bg"> Expert Suggestions for {{model.location}}: </h4>
        </div>
        <div>
            <ul>
                <div class=" col-md-8 row">
                    <div>
                        <li id="expert" class="list-group-item col-md-4" ng-repeat="suggestion in model.suggestions">
                            <div>
                                <label>
                                    <h5>
                                        Suggestion : {{suggestion.title}}
                                        <br/>
                                        Author : {{suggestion.firstname}}
                                    </h5>
                                </label>
                                <p>
                                    {{suggestion.suggestion}}
                                </p>

                            </div>
                            <div ng-switch="suggestion.switch">
                                <div ng-switch-when="NONE">
                                </div>

                                <div ng-switch-when="EDIT">
                                    <a href="#/suggestion/{{model.userId}}/suggestion/{{suggestion._id}}" class="glyphicon glyphicon-cog">Edit</a>
                                </div>
                            </div>

                        </li>
                    </div>

                </div>
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-md-8">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="attraction in model.attractions">

                    <div><label>
                        <h4>{{attraction.name}}</h4>
                    </label>
                    </div>
                    <div>
                        <h5>Expert Score : {{attraction.tripexpert_score}}</h5>
                        <!--<textarea ng-model="attraction.tripexpert_score"></textarea>-->
                    </div>
                    <div>
                        <a ng-click="model.detailsPage(attraction.id)">
                            <img class="attractionImg" src="https://static.tripexpert.com/images/venues/index_photos/index_retina/{{attraction.id}}.jpg?1402340533">
                        </a>

                    </div>
                    Details: <span ng-click="model.detailsPage(attraction.id)" class="glyphicon glyphicon-cog"></span>
                </li>
            </ul>
        </div>
    </div>

    <nav class="navbar navbar-light navbar-fixed-bottom">
        <div class="container-fluid bg-info">
            <a href="#/user/{{model.userId}}" class=" navbar-link navbar-text pull-right ">
                <span class="glyphicon glyphicon-user  "></span>
            </a>

        </div>
    </nav>
</div>