<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="">Travelogue</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" ng-if="model.userId==null" >
                <a href="#/login">  <button  class="btn btn-success">Login</button> </a>
                <a href="#/register"> <button  class="btn btn-success">Register</button> </a>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<div class="container-fluid">
    <div class="col-md-4 col-md-offset-4" >
        <div class="container-fluid ">
            <div>
                <h1>Register</h1>

                <div class="alert alert-danger" ng-show="model.message">
                    {{model.message}}
                </div>
                <form><input type="text"
                       ng-change="model.onchange(user.username)"
                       ng-model="user.username"
                       class="form-control"
                       placeholder="username"/>
                <input type="password"
                       ng-model="user.password"
                       class="form-control"
                       placeholder="password"/>
                <input type="password"
                       ng-change="model.matchPassword(user.verifypassword,user.password)"
                       ng-model="user.verifypassword"
                       class="form-control"
                       placeholder="verify password"/>
                <input type="text"
                       ng-model="user.firstname"
                       class="form-control"
                       placeholder="FirstName"/>
                <input type="text"
                       ng-model="user.lastname"
                       class="form-control"
                       placeholder="LastName"/>
                <input type="email"
                       ng-model="user.email"
                       class="form-control"
                       placeholder="email"/>
                </form>

                <a class="btn btn-primary btn-block"
                   ng-click="model.create(user)">Register</a>

                <a class="btn btn-danger  btn-block"
                   href="#/login">Cancel</a>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-dark navbar-fixed-bottom nav-color">
        <div class="container-fluid" ng-if="model.userId!=null">
            <a href="#/user" class="navbar-link navbar-text pull-right">
                <span class="glyphicon glyphicon-user user-color"></span>
            </a>

        </div>
    </nav>
</div>