<nav class="navbar navbar-light navbar-fixed-top">
    <div class="container-fluid bg-info ">

        <div class="navbar-text pull-right ">
            <a ng-click="model.updateUser(model.user)" class="navbar-link ">
                <span class="glyphicon glyphicon-ok "></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand no-left-margin">
                Profile
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div id="mySidenav" class="sidenav">
        <a class="closebtn" ng-click="closeNav()">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
        <a ng-click="model.closeNav()">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </div>

    <!-- Use any element to open the sidenav -->
    <span class="button" ng-click="model.openNav()">Menu</span>

    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>

    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>
    <form>
        <div class="form-group">
            <label >Username</label> <br/>
            <label> {{model.user.username}} </label>
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input ng-model="model.user.email" type="email" class="form-control" id="email"
                   placeholder="alice@wonderland.com">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model="model.user.firstname" type="text" class="form-control" id="first-name" placeholder="Alice">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input ng-model="model.user.lastname" type="text" class="form-control" id="last-name"
                   placeholder="Wonderland">
        </div>
    </form>

    <a class="btn btn-primary btn-block"
       ng-click="model.unregisterUser(user)">Unregister</a>
    <a class="btn btn-danger  btn-block"
       href="#/login">Logout</a>
</div>

<nav class="navbar navbar-light navbar-fixed-bottom">
    <div class="container-fluid bg-info">
        <a href="#/user/{{model.userId}}/settings" class=" navbar-link navbar-text pull-right ">
            <span class="glyphicon glyphicon-user "></span>
        </a>

    </div>
</nav>

