<nav class="navbar navbar-light navbar-fixed-top ">
    <div class="container-fluid bg-info">

        <div class="navbar-text pull-right ">
            <a ng-click="model.updateUser(model.user)" class="navbar-link ">
                <span class="glyphicon glyphicon-ok "></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand no-left-margin">
                Travelogue
            </a>
        </div>
    </div>
</nav>


<h1> User Home with feed</h1>

<a class="btn btn-primary btn-block"
   href="#/user/{{model.userId}}/attraction">Search For Places</a>

<div ng-switch="model.user.role">
      <div ng-switch-when="EXPERT">
        <a href="#/suggestion/{{model.userId}}/suggestion"> <button class="btn btn-primary">Add Suggestions</button>
        </a></div>

    <div ng-switch-when="ADMIN">
        <ng-include src="'views/users/templates/adminhome.view.client.html'"></ng-include>
    </div>
</div>

<a class="btn btn-block btn-danger"
   ng-click="model.deleteUser(model.userId)">Unregister</a>


<nav class="navbar navbar-light navbar-fixed-bottom">
    <div class="container-fluid bg-info">
        <a href="#/user/{{model.userId}}/settings" class=" navbar-link navbar-text pull-right ">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>