<nav class="navbar navbar-default navbar-fixed-top bg-faded">
    <div class="container-fluid bg-faded">

        <div class="navbar-text pull-right ">
            <a ng-click="model.updateUser(model.user)" class="navbar-link ">
                <span class="glyphicon glyphicon-ok "></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand no-left-margin">
                Travelogue
            </a>
        </div>
    </div>
</nav>


<h1> User Home with feed</h1>

<a class="btn btn-primary btn-block"
   href="#/user/{{model.userId}}/attraction">Search For Places</a>

<a class="btn btn-block btn-danger"
   ng-click="model.deleteUser(model.userId)">Unregister</a>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid bg-primary">
        <a href="#/user/{{model.userId}}" class=" navbar-link navbar-text pull-right ">
            <span class="glyphicon glyphicon-user make-white "></span>
        </a>
    </div>
</nav>