<nav class="navbar navbar-default navbar-fixed-top bg-faded">
    <div class="container-fluid bg-faded">

        <div class="navbar-text pull-right ">
            <a ng-click="model.updateUser(model.user)" class="navbar-link ">
                <span class="glyphicon glyphicon-ok "></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand no-left-margin">
                Travelogue
            </a>
        </div>
    </div>
</nav>
<div>

<h1> User Home with feed</h1>