<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid bg-primary">
        <div class="col-xs-4">

            <div class="col-sm-1 navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="col-sm-2 navbar-header hidden-xs">
                <a class="navbar-brand">
                    Pages
                </a>
            </div>
            <div class=" col-sm-1 navbar-text pull-right hidden-xs">

            </div>
        </div>

        <div class="col-xs-8">
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand no-left-margin">
                    Edit Page
                </a>
            </div>

        </div>

    </div>

</nav>

<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="page in model.pages">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                    {{page.name}} </a>
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}" class="pull-right">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-8">
        <label for="website-name">Name</label>
        <input placeholder="Blog Post"
               class="form-control"
               ng-model="model.page.name"
               type="text"
               id="website-name"/>

        <label for="website-description">Title</label>
        <input placeholder="Page Title"
               ng-model="model.page.description"
               class="form-control"
               type="text"
               id="website-description"></input>
        <a ng-click="model.deletePage(page)" type="button" class="btn btn-danger btn-block">
            Delete
        </a>
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid bg-primary">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user "></span>
            </a>
        </div>
    </div>
</nav>
