
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid bg-primary">
        <div class="col-xs-4 ">
            <div class="navbar-text pull-left">
                <a href="#/user/{{model.user._id}}/website/{{model.website._id}}/page">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header hidden-xs">
                <a class="navbar-brand">
                    Pages
                </a>
            </div>
            <div class="navbar-text pull-right hidden-xs">
                <a href="/user/{{model.user._id}}/website/{{model.website._id}}/page/new">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="navbar-text pull-right">
                <a ng-click="model.createPage(page)">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand no-left-margin">
                    New Page
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid border-left-style:solid">
<div class="col-sm-4 hidden-xs">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-10">
                    <a href="/user/{{model.user._id}}/website/{{model.website._id}}/page/{{model.page._id}}/widget">Blog Post</a>
                </div>
                <div class="col-xs-2">
                    <a href="#/user/{{model.user._id}}/website/{{model.website._id}}/page/{{model.page._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-10">
                    <a href="/user/{{model.user._id}}/website/{{model.website._id}}/page/{{model.page._id}}/widget">Blogs</a>
                </div>
                <div class="col-xs-2">
                    <a href="#/user/{{model.user._id}}/website/{{model.website._id}}/page/{{model.page._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-10">
                    <a href="/user/{{model.user._id}}/website/{{model.website._id}}/page/{{model.page._id}}/widget">Home</a>
                </div>
                <div class="col-xs-2">
                    <a href="#/user/{{model.user._id}}/website/{{model.website._id}}/page/{{model.page._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-10">
                    <a href="/user/{{model.user._id}}/website/{{model.website._id}}/page/{{model.page._id}}/widget">About</a>
                </div>
                <div class="col-xs-2">
                    <a href="#/user/{{model.user._id}}/website/{{model.website._id}}/page/{{model.page._id}}">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-10">
                    <a href="/user/{{model.user._id}}/website/{{model.website._id}}/page/{{model.page._id}}/widget">Contact us</a>
                </div>
                <div class="col-xs-2">
                    <a href="#/user/{{model.user._id}}/website/{{model.website._id}}/page/{{model.page._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="col-sm-8">
    <label for="website-name">Name</label>
    <input placeholder="Name"
           type="text"
           ng-model="page.name"
           class="form-control"
           id="website-name"/>

    <label for="website-name">Title</label>
    <input placeholder="Title"
           type="text"
           ng-model="page.description"
              class="form-control"
           />

</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid bg-primary">
        <div class="navbar-text pull-right">
            <a href="#/user/:uid">
                <span class="glyphicon glyphicon-user "></span>
            </a>
        </div>
    </div>
</nav>
