
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid bg-primary ">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.user._id}}/website">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand no-left-margin">
                Pages
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <ul class="list-group">
        <li class="list-group-item" ng-repeat="page in model.pages">
            <!--<a href="#/user/{{model.userId}}/website/{{website._id}}/page"> -->{{page.name}}
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid bg-primary">


        <div class="navbar-text pull-right">
            <a href="#/user/:uid">
                <span class="glyphicon glyphicon-user "></span>
            </a>
        </div>

    </div>
</nav>
